.main-body {
  display: grid;
  grid-template-columns: auto 360px;
  grid-gap: 20px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 0 auto;
}
.main-body-left {
  overflow: hidden;
}
.main-body-right {
  overflow: hidden;
  padding-top: 70px;
}
.main-body-title-bottom {
  color: #37424D;
  font-weight: 500;
  margin: 30px auto 0 auto;
  display: table;
  position: relative;
  padding: 0 30px 0 30px;
  font-size: 15px;
  line-height: 1;
}
.main-body-title-bottom:after {
  content: '';
  position: absolute;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACjSURBVHgBbZA9EoIwEIX3BcaRDm/AEbDCEqwdB0/mVbgBKS05Qo5Aa2GeWZg4Ed1i8/PtvrezaM7Xuwh7+Kx72MFJEob0h3BWNK/x1PZVCqGp6S6jAG24ulTBaHoyv5GYtgqIEnXblzv4EWAdFZB6bAtMCvciZQDl8iDnT6f6qJ/6BjAVzFfZf8DaYcY3EFcwOypYl5AAMOsi0MjDpyyj83d9b0f2WKZwfPsRAAAAAElFTkSuQmCC) no-repeat center;
  width: 10px;
  height: 12px;
  top: 50%;
  right: 15px;
  transform: translate(0,-50%);
}
.main-body-title {
  font-weight: 500;
  font-size: 24px;
  color: #333;
  position: relative;
  margin: 20px 0 20px 0;
}
.main-body-title-main {
  padding-bottom: 5px;
  border-bottom: 2px solid #C5E319;
  text-align: center;
  display: inline-block;
}
.main-body-title-center {
  display: table;
  margin: 20px auto 20px auto;
  margin: 20px auto 20px auto;
}
.main-body-title-next {
  margin-top: 50px;
}
.main-body-title-all {
  font-size: 18px;
  color: #6FC52B;
  float: right;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
}
.main-body-items {
  grid-gap: 20px;
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}
.main-body-items > div > div {
  margin: 15px;
}
.main-body-item {
  min-height: 300px;
  border: 2px solid #EDECEE;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fff;
}
.main-body-item-screen {
  margin: 20px 20px 0 20px;
  height: 170px;
  background: no-repeat center;
  background-size: contain;
}
.main-body-item-title {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  margin: 20px 20px 0 20px;
}
.main-body-item-rating {
  margin: 7px 20px 0 20px;
  display: grid;
  grid-template-columns: auto auto;
}
.main-body-item-stars {
  width: 86px;
  display: grid;
  grid-template-columns: repeat(5,14px);
  grid-gap: 4px;
}
.main-body-item-star {
  height: 13px;
  background: url('../img/star.svg');
}
.main-body-item-feedback {
  font-size: 12px;
  color: grey;
  text-align: left;
}
.main-body-item-footer {
  margin: 17px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.main-body-item-footer-price {
  display: flex;
}
.main-body-item-footer-price > div {
  font-size: 24px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  width: 100%;
}
.basket-btn {
  background: #37424D;
}
