.history {
  max-width: 1600px;
  margin: 0 auto 0 auto;
}
.history-slide {
  width: 184px;
  height: 244px;
  position: relative;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.history-slide:first-child {
  margin-left: 0;
}
.history-slide:last-child {
  margin-right: 0;
}
.history-slide-title {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}
.history-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: min-content;
  margin: 30px auto 0 auto;
}
.history-next, .history-prev {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  z-index: 10;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  transform: translate(0,-40%);
  background: url('../img/next.svg') #fff no-repeat center;
  cursor: pointer;
}
.history-next {
  left: 0;
}
.history-prev {
  right: 0;
  transform: translate(0,-40%) rotate(180deg);
}
@media only screen and (max-width: 1600px) {
  .history {
    margin: 0 60px 0 60px;
  }
  .history-main {
    margin: 20px auto 0 auto;
  }
  .history-slide {
    width: 160px;
    height: 212px;
  }
  .history-slide-title {
    font-size: 16px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-weight: 500;
  }
}
