.menu {
  overflow: hidden;
  margin-top: 16px;
  cursor: pointer;
  outline: none;
}
.menu-item {
  border: 2px solid #EDECEE;
  font-size: 18px;
  float: left;
  margin-right: 16px;
  padding: 0 16px 0 16px;
  height: 40px;
  border-radius: 40px;
  background: white;
  color: #989898;
  font-weight: 600;
  outline: none;
}
.menu-item:hover, .menu-item-sel {
  background: rgba(197, 227, 25, 0.2);
  color: #6FC52B;
  border: 2px solid #C5E319;
}
