.footer-footer {
  height: 105px;
  background: #C5DA5A;
  overflow: hidden;
  display: flex;
}
.footer-footer > div {
  align-self: center;
  overflow: hidden;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 0 auto;
}
.footer-footer-title {
  float: left;
  font-size: 20px;
  color: #37424D;
}
.footer-footer-icons {
  float: right;
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-gap: 20px;
}
.footer-footer-icons > div {
  cursor: pointer;
}
.footer-footer-youtube {
  background: url('../../img/youtube.svg') no-repeat center;
  background-size: contain;
  width: 44px;
  height: 35px;
}
.footer-footer-facebook {
  background: url('../../img/facebook.svg') no-repeat center;
  background-size: contain;
  width: 35px;
  height: 35px;
}
.footer-footer-instagram {
  background: url('../../img/instagram.svg') no-repeat center;
  background-size: contain;
  width: 35px;
  height: 35px;
}
.footer-footer-whatsapp {
  background: url('../../img/whatsapp.svg') no-repeat center;
  background-size: contain;
  width: 35px;
  height: 35px;
}
@media only screen and (max-width: 1600px) {
  .footer-footer {
    height: 60px;
  }
  .footer-footer > div {
    display: flex;
    align-items: center;
    padding: 0 60px 0 60px;
  }
  .footer-footer-title {
    font-size: 14px;
  }
  .footer-footer-icons {
    grid-gap: 10px;
    margin-left: auto;
  }
  .footer-footer-youtube {
    width: 30px;
    height: 20px;
  }
  .footer-footer-facebook {
    width: 20px;
    height: 20px;
  }
  .footer-footer-instagram {
    width: 20px;
    height: 20px;
  }
  .footer-footer-whatsapp {
    width: 20px;
    height: 20px;
  }
}
