.list-content {
  overflow: hidden;
}
.list-content-header {
  overflow: hidden;
}
.list-content-title {
  font-weight: bold;
  font-size: 36px;
  margin: 22px 0 0 49px;
}
.list-content-options {
  margin: 10px 0 0 49px;
  overflow: hidden;
}
.list-content-options > div {
  float: left;
  font-size: 18px;
}
.list-content-description {
  color: #53647D;
  margin-right: 20px;
}
.list-content-item, .list-content-item-single {
  color: #53647D;
  margin-left: 30px;
}
.list-content-item {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;

}
.list-content-item-single {

}
.list-content-item-title {

}
.list-content-item-dropdown {
  font-weight: bold;
  position: relative;
}
.list-content-item-dropdown:after {
  position: absolute;
  content: '';
  background: url('img/down.svg') no-repeat center;
  width: 6px;
  height: 3px;
  top: 60%;
  right: -10px;
}
