.product-menu {
  overflow: hidden;
  position: relative;
  margin-top: 32px;
  padding: 5px;
}
.product-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.product-slide {
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
  position: relative;
  cursor: pointer;
  display: flex;
  padding: 10px 15px 10px 15px;
  grid-gap: 5px;
  gap: 5px;
  background: #fff;
}
.product-slide:hover, .product-slide-sel {
  background: #C5E319;
  box-shadow: 0 0 1px 0 #6FC52B;
}
.product-slide-img {
  width: 20px;
  height: 20px;
  background: no-repeat center;
  background-size: contain;
  align-items: center;
  justify-content: center;
}
.product-slide-content {
  font-weight: 500;
  font-size: 13px;
  color: #37424D;
}
