.footer-body {
  background: #F9F9F9;
  min-height: 310px;
  overflow: hidden;
  display: flex;
}
.footer-body > div {
  align-self: center;
  overflow: hidden;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 0 auto;
}
.footer-body-left, .footer-body-right {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  grid-column-gap: 32px;
  width: 335px;
  color: #989898;
  float: left;
}
.footer-body-left-title, .footer-body-right-title {
  cursor: pointer;
  color: #989898;
}
.footer-body-right {
  float: right;
  width: auto;
  text-align: right;
}
